# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
sdist/
.hatch/
.hatch.toml

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environments
.envs/
